aiofiles==0.4.0
aniso8601==6.0.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
decorator==4.4.0
dnspython==1.16.0
email-validator==1.0.4
fastapi==0.33.0
graphene==2.1.7
graphql-core==2.2
graphql-relay==2.0.0
h11==0.8.1
httptools==0.0.13
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.4
pandas==0.24.2
promise==2.2.1
pydantic==0.30
python-dateutil==2.8.0
python-multipart==0.0.5
pytz==2019.1
PyYAML==5.1.1
requests==2.22.0
Rx==3.0.0
six==1.12.0
starlette==0.12.0
ujson==1.35
urllib3==1.25.3
uvicorn==0.8.4
uvloop==0.12.2
websockets==7.0
networkx==2.3
pytest==5.0.1
pytest-watch==4.2.0
